@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'LCD';
  font-style: normal;
  font-display: swap;
  src: url("./LCD14.otf");
}

@theme {
  --font-fmc: 'VT323', monospace;
  --font-lcd: 'LCD', monospace;
  --color-fmc-green: #00ff00;
  --color-fmc-dark: #0a0a0a;
}


.image-container {
  container-type: inline-size;
}